
<h3 style="text-align: center;" mat-dialog-title>Add New Tag</h3>

<div style="height: 400px;">
    <form [formGroup]="addTagFormGroup" (submit)="addTag()">
        <div style="height: 350px !important;  overflow-y: scroll !important; overflow-x: hidden !important;">

            <mat-form-field appearance="outline" class="title mt-8" style="width: 100% !important;" >
                <mat-label>Name</mat-label>
                <input matInput
                       name="name"
                       formControlName="name"
                       required>

            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="title mt-8" style="width: 100% !important;" >
                <mat-label>Description</mat-label>
                <input matInput
                       name="description"
                       formControlName="description"
                >
            </mat-form-field>
            <div style="margin-top: 10px;">
                <mat-checkbox formControlName="isActiveFlag">Active</mat-checkbox>&nbsp;&nbsp;
                <mat-checkbox formControlName="isTask">Task Tag</mat-checkbox>&nbsp;&nbsp;
                <mat-checkbox formControlName="isVehicle">Vehicle Tag</mat-checkbox>
            </div>
            <br>
            Select Color
            <br>
            <div class="color-pallet-container" *ngFor="let colorPrimary of colors">

                <div (click)="getSelectColor(colorPrimary+colorcode)" *ngFor="let colorcode of colorSerials"  [ngClass]="colorClases(colorPrimary+colorcode)"></div>
            </div>


        </div>

        <div style="height: 50px !important;">
            <br>
            <mat-spinner *ngIf="loader" style="margin-left: auto; margin-right: auto; display: block;" color="accent" [diameter]="40"></mat-spinner>
            <button *ngIf="!loader"
                    style="margin-left: auto; margin-right: auto; display: block;"
                    mat-raised-button color="accent"
                    [disabled]="addTagFormGroup.invalid">
                SAVE
            </button>
        </div>

    </form>
</div>

