.general-container{
  padding-top: 20px;
  padding-left: 20px;
}

.general-title{
  font-size: 30px;
  font-weight: bold;
}


.mat-card.general-card{
  box-shadow: unset !important;
  border: 1px solid #CCCCCC;
}
.general-card-title{
  font-size: 20px;
  font-weight: bold;
}
.select-form{
  width: 100% !important;
}

.upload-text{
  text-align: center; font-size: 12px; padding-left: 5px; padding-right: 5px;
}

.upload-container{
  //padding-left: 5px; padding-right: 5px;
  display: flex;
  justify-content: center;

  ::ng-deep.dropify-wrapper{
    width: 100px !important;
    height: 40px !important;
    border: none !important;
    color: #fff !important;
    border-radius: 6px !important;
    background-color: #03a9f4 !important;

  }

  ::ng-deep .dropify-wrapper:hover {
    background-size: unset !important;
    background-image: unset !important;
    -webkit-animation: unset !important;
    animation: unset !important;
  }

  ::ng-deep .dropify-wrapper .dropify-message p {
    margin: 0px 0 0 0 !important;
  }
}

.company-select{
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: unset !important;
    padding-bottom: 20px !important;
    padding-top: 6px !important;
  }

  width:30% !important;

}





