<div id="dashboard-project" class="page-layout simple right-sidebar" fxLayout="row">

        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar>
    
           <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="project-dashboard-right-sidebar-1" position="right" lockedOpen="gt-md">
    
                <!-- SIDEBAR CONTENT -->
                <div class="content">
        
                    <!-- WIDGET GROUP -->
                    <div class="widget-group" fxLayout="column" fxFlex="100" [@animateStagger]="{value:'50'}">
        
        
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
        
                            <!-- Front -->
                            <div class="fuse-widget-front primary">
        
                                <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">
        
                                    <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                        Annoucements
                                    </div>
        
                                    <div>
                                        <button mat-icon-button aria-label="more">
                                            <mat-icon class="secondary-text">more_vert</mat-icon>
                                        </button>
        
                                        <mat-menu >
                                            <button mat-menu-item aria-label="Flip widget">
                                                Details
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
        
                                <div class="p-16 pb-32">
        
                                    <div fxLayout="row" fxLayoutAlign="center center">
        
                                        <span style="text-align: center;">
                                            " 6 "
                                        </span>
        
                                    </div>
                                    <div>
        
                                        <div class="pt-20 pb-10" style="text-align: end;">
                                            <span>
                                               5:34
                                            </span>
                                        </div>
        
                                        <div class="pt-20 pb-10" fxLayout="row">
        
        
        
                                            <img class="avatar" src="">
        
                                            <span>
                                               here
                                                <br />
                                               there
                                            </span>
                                        </div>
                                    </div>
        
        
                                </div>
        
                            </div>
                            <!-- / Front -->
        
                        </fuse-widget>
        
        
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
        
                            <!-- Front -->
                            <div class="fuse-widget-front">
        
                                <div class="pl-16 pr-8 pt-16" fxLayout="row" fxLayoutAlign="space-between center">
        
                                    <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                        YOU HAVE
                                    </div>
        
                                    <div>
                                        <button mat-icon-button  aria-label="more">
                                            <mat-icon class="secondary-text">more_vert</mat-icon>
                                        </button>
        
                                        <mat-menu >
                                            <button mat-menu-item aria-label="Flip widget">
                                                Details
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
        
                                <div class="pl-16 pr-16 pt-15 pb-32">
        
                                    <div fxLayout="row">
        
                                        <div LayoutAlign="start center">
        
                                            <p ></p>
        
                                        </div>
                                    </div>
        
        
                                </div>
        
                            </div>
                            <!-- / Front -->
        
                        </fuse-widget>
        
        
                        <!-- NOW WIDGET -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="pb-0">
        
                            <!-- Front -->
                            <div class="fuse-widget-front">
        
                                <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">
        
                                    <div class="h3">4 march 20202</div>
        
                                    <div>
                                        <button mat-icon-button aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
        
                                        <mat-menu >
                                            <button mat-menu-item aria-label="Flip widget">
                                                Details
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
        
                                <div class="p-16 pb-24" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="h1 secondary-text">
                                        <span>34</span>
                                    </div>
        
                                    <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                                       34
                                    </div>
        
                                    <div class="h1 secondary-text">
                                        <span>20</span>
                                    </div>
                                </div>
        
                            </div>
                            <!-- / Front -->
        
                        </fuse-widget>
                        <!-- / NOW WIDGET -->
        
                        <!-- WEATHER WIDGET -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
        
                            <!-- Front -->
                            <div class="fuse-widget-front">
        
                                <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">
        
                                    <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon class="secondary-text mr-8">place</mat-icon>
                                       Tema
                                    </div>
        
                                    <div>
                                        <button mat-icon-button aria-label="more">
                                            <mat-icon class="secondary-text">more_vert</mat-icon>
                                        </button>
        
                                        <mat-menu >
                                            <button mat-menu-item aria-label="Flip widget">
                                                Details
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
        
                                <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">
        
                                    <div fxLayout="row" fxLayoutAlign="center center">
                                        <mat-icon fontSet="meteocons"                                           
                                            class="icon s-40 secondary-text mr-16"></mat-icon>
                                        <span class="mat-display-2 m-0 font-weight-300 secondary-text">
                                           sdgdsfg
                                        </span>
                                        <span class="font-size-48 font-weight-300 hint-text text-super ml-8">°</span>
                                        <span class="mat-display-2 mb-0 font-weight-300 hint-text ng-binding">C</span>
                                    </div>
                                </div>
        
                                <div class="p-16 by" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon fontSet="meteocons" fontIcon="icon-windy" class="s-16 secondary-text mr-8">
                                        </mat-icon>
                                        <span>
                                           
                                        </span>
                                        <span class="secondary-text ml-5"> fgsdgdf</span>
                                    </div>
        
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon fontSet="meteocons" fontIcon="icon-compass" class="s-16 secondary-text mr-8">
                                        </mat-icon>
                                        <span>
                                           locations
                                        </span>
                                    </div>
        
                                    
                                </div>
        
                                
                            </div>
                            <!-- / Front -->
        
                        </fuse-widget>
                        <!-- / WEATHER WIDGET -->
        
        
                      
        
        
                    </div>
                    <!-- / WIDGET GROUP -->
        
                </div>
                <!-- / SIDEBAR CONTENT -->
        
            </fuse-sidebar>
            <!-- / SIDEBAR -->
    
            <!-- CONTENT -->
            <div class="content">
    
                <mat-tab-group dynamicHeight>
    
                    <mat-tab label="Home">
    
                        <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                            [@animateStagger]="{value:'50'}">
    
                            <!-- ALL VEHICLE WIDGET -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
    
                                <!-- Front -->
                                <div class="fuse-widget-front">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        <mat-form-field>
                                            <mat-select class="simplified font-size-16"
                                                 aria-label="Change range">
                                                <mat-option >
                                                   
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>
    
                                  <!--   <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="light-blue-fg font-size-72 line-height-72">
                                            {{widgets.widget1.data.count[widgets.widget1.currentRange]}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget1.data.label}}
                                        </div>
                                    </div>
    
                                    <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">
                                            {{widgets.widget1.data.extra.label}}:
                                        </span>
                                        <span class="h4 ml-8">
                                            {{widgets.widget1.data.extra.count[widgets.widget1.currentRange]}}
                                        </span>
                                    </div> -->
                                </div>
                                <!-- / Front -->
    
                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>
    
                                    <div>
                                        sdfhfjdg
                                    </div>
                                </div>
                                <!-- / Back -->
    
                            </fuse-widget>
                            <!-- / ALL VEHICLE WIDGET -->
    
                            <!-- ON TRACK WIDGET -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
    
                                <!-- Front -->
                               <!--  <div class="fuse-widget-front">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="h3">{{widgets.widget2.title}}</div>
    
                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>
    
                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="red-fg font-size-72 line-height-72">
                                            {{widgets.widget2.data.count}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget2.data.label}}
                                        </div>
                                    </div>
    
                                    <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">
                                            {{widgets.widget2.data.extra.label}}:
                                        </span>
                                        <span class="h4 ml-8">{{widgets.widget2.data.extra.count}}</span>
                                    </div>
                                </div> -->
                                <!-- / Front -->
    
                               
    
                            </fuse-widget>
                            <!-- / ON TRACK WIDGET -->
    
                            <!-- DELAYED WIDGET -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
    
                                <!-- Front -->
                              <!--   <div class="fuse-widget-front">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="h3">jkfsdgdf</div>
    
                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>
    
                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="orange-fg font-size-72 line-height-72">
                                            {{widgets.widget3.data.count}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget3.data.label}}
                                        </div>
                                    </div>
    
                                    <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">
                                            {{widgets.widget3.data.extra.label}}:
                                        </span>
                                        <span class="h4 ml-8">{{widgets.widget3.data.extra.count}}</span>
                                    </div>
                                </div> -->
                                <!-- / Front -->
    
                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>
    
                                    <div>
                                       fdgdgh
                                    </div>
                                </div>
                                <!-- / Back -->
    
                            </fuse-widget>
                            <!-- /DELAYED WIDGET -->
    
                            <!-- OVERDUE 4 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
    
                                <!-- Front -->
                                <!-- <div class="fuse-widget-front">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="h3">{{widgets.widget4.title}}</div>
    
                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>
    
                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="blue-grey-fg font-size-72 line-height-72">
                                            {{widgets.widget4.data.count}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget4.data.label}}
                                        </div>
                                    </div>
    
                                    <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">
                                            {{widgets.widget4.data.extra.label}}:
                                        </span>
                                        <span class="h4 ml-8">{{widgets.widget4.data.extra.count}}</span>
                                    </div>
                                </div> -->
                                <!-- / Front -->
    
                                <!-- Back -->
                               <!--  <div class="fuse-widget-back p-16 pt-32">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>
    
                                    <div>
                                        {{widgets.widget4.detail}}
                                    </div>
                                </div> -->
                                <!-- / Back -->
    
    
                            </fuse-widget>
                            <!-- / OVERDUE 4 -->
    
                          
    
                            <!-- TABLE WIDGET  -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100"
                                class="widget widget5">
    
                                <!-- Front -->
                                <div class="fuse-widget-front">
    
                                    <div class="px-16 border-bottom" fxLayout="row wrap"
                                        fxLayoutAlign="space-between center">
    
                                        <div fxFlex class="py-16 h3">here</div>
    
                                    </div>    
                                   
                                </div>
                                <!-- / Front -->
    
                            </fuse-widget>
                            <!-- / TABLE WIDGET -->
    
                           
    
                        </div>
                        <!-- / WIDGET GROUP -->
    
                    </mat-tab>
    
                    <mat-tab label="Recon Performance">
    
                      
    
                      
    
                    </mat-tab>
    
                    <mat-tab label="Team Members">
    
                        
    
                    </mat-tab>
    
                </mat-tab-group>
    
            </div>
            <!-- / CONTENT -->
    
        </div>
        <!-- / CENTER -->
    
       
    
    </div>