@import "src/@fuse/scss/fuse";

toolbar {
    position: sticky;
    top: 0;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    #fuse-search-bar-input {
        display: flex;
        flex: 1 0 auto;
        height: 35px !important;
        font-size: 14px !important;

        position: absolute;
        top: 15px;
        right: 0;
        bottom: 0;
        left: 9%;
        z-index: 10;
        width: 50%;
        border-radius: 5px !important;
    }
}
