<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

  <div class="header accent p-24 h-90" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center start">
          <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-18">home</mat-icon>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">All Admins</span>
          </div>
      </div>
  </div>

  <div class="content p-24">
      <div *ngIf="isLoading" id="align-content"  >              
          <br><br> <br> 
          <div [class.tablespinner]="isLoading" class="d-flex justify-content-center align-items-center">  </div>
           <br>              
          <p class="spinnerText" class="d-flex justify-content-center align-items-center">Loading All Administrators</p>
        </div> 

      <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
          
          
       
        <!-- table message -->
        <div style="width:100%" *ngIf="showTableMessage">
            <br><br><br><br><br><br><br><br><br><br>
            <p style="text-align:center;"> {{this.tableMessage}}</p>
            <p style="text-align:center;" *ngIf="showLink" >Error Retrieving Table Data. <br> <a (click)='this.ngOnInit()'>Try Again</a></p>
        </div>
         
        <!-- table div -->

          <div [hidden]="!showTable" class="mat-card mat-elevation-z4 p-24" style="width: 100%">
              <div class="h2 mb-24">All Administrators</div>
              <mat-form-field class="search-input">
                  <input matInput  (keyup)="applyFilter($event.target.value)" placeholder="Search">
              </mat-form-field>


              <table  mat-table [dataSource]="dataSource" matSort>

                  <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.profile.fname}} </td>
                  </ng-container>

                  <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                      <td mat-cell *matCellDef="let row"> {{row.profile.email}} </td>
                  </ng-container>

                  <ng-container matColumnDef="contact">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                      <td mat-cell *matCellDef="let row"> {{row.profile.contact}} </td>
                  </ng-container>

                  <ng-container matColumnDef="role">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                      <td mat-cell *matCellDef="let row"> {{row.profile.role}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                      <td mat-cell *matCellDef="let row" >
                          <ng-template [ngIf]="row.profile.status === 1">
                              Active
                          </ng-template>
                          <ng-template [ngIf]="row.profile.status !== 1">
                              In-Active
                          </ng-template>
                      </td>
                  </ng-container>


                  <ng-container matColumnDef="dateCreated">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                      <td mat-cell *matCellDef="let row"> {{row.invitation.dateCreated}} </td>
                  </ng-container>

                  <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: right; justify-content: flex-end;"> View</th>
                      <td mat-cell *matCellDef="let row" style="text-align: right; justify-content: flex-end;">
                          <a style="cursor: pointer;" (click)='viewInfo(row)'>
                              <mat-icon>launch</mat-icon>
                          </a>
                      </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

          </div>



         

          <!-- table div end -->
      </div>
      <!-- table spinner -->
     
  </div>


</div>


