<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <div fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <img src="/assets/images/logos/footerLogo.png" style="height: 30px;">
            <a mat-button>Web App Framework Copyright&copy; 2020</a>
        </div>
        
        <a mat-button fxFlex="0 0 auto" fxLayout="row"fxLayoutAlign="start center">version 1.0.0</a>

    </div>

</mat-toolbar>
