<div *ngIf="loader" style="margin-top: 10%">
    <mat-spinner style="margin-left: auto; margin-right: auto; display: block;" color="accent" [diameter]="40"></mat-spinner>
    <p style="text-align: center; font-size: 20px; color: #1E2129"> Loading notes</p>
</div>

<div *ngIf="!loader">
    <div *ngIf="isData" style="padding: 20px;">
        <div style="float: right;">
            <button mat-icon-button (click)="onNoClick()">
                <mat-icon>close</mat-icon>
            </button>
        </div><br>
        <div  fxLayout="column" fxLayoutGap="10px" fxLayout.xs="row" fxLayout.md="column"
             fxLayout.sm="column">
            <div *ngFor="let note of notes" fxFlex="100" fxFlex.md="100"
                 fxFlex.xs="100" fxFlex.sm="100">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title class="accent-700-fg"><span class="dot accent-700-bg"></span> {{note.createdByUserName}}</mat-card-title>
                        <mat-card-subtitle>{{note.createDate | date:'MMM d, y, h:mm:ss a'}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            {{note.note}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
    <div *ngIf="!isData" style="margin-top: 10%;">
        <p style="text-align: center; font-size: 20px; color: #1E2129">No notes found</p>
    </div>
</div>
