

.tagss{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 10px;
}

::ng-deep.mat-paginator-page-size-label {
  margin: 0 4px;
  width: 200px;
}
